
/* Utilities */

:root {
    --accent-color: #ED4C5C;
    --light-color: #FFFFFF;
    --font-color: #000000;
    --secondary-font-color: #101010;
    --secondary-bcg: #FAFAFA;
}

body {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--font-color);
}

h1, h2, h3, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.content-width {
    display: inline-block;

    width: 445px;
}

/* Header */

.header {
    position: absolute;
    left: 8%;
}

.header-container {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;

    color: var(--light-color);
}

.menu-list {
    display: flex;
}

.nav-item {
    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;
}

.nav-item:hover,
.nav-item:focus {
    font-weight: 700;

    transition: all 0.5s;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.nav-link {
    color: var(--light-color);
}

.nav-btn-list {
    display: flex;
    gap: 20px;
}

.auth-item {
    min-width: 100px;
    min-height: 40px;
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 11px;
    padding-left: 22px;

    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;

    color: var(--light-color);
    background-color: inherit;
    border: 1px solid var(--light-color);
    border-radius: 6px;

    cursor: pointer;
}

.auth-item:hover,
.auth-item:focus {
    font-weight: 700;

    background-color: var(--light-color);
    color: var(--accent-color);

    transition: all 0.5s;
}

/* Hero */

.hero {
    padding-top: 257px;
    padding-bottom: 187px;

    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/hero-bgd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    color: var(--light-color);

    text-align: center;
}

.hero-title {
    font-size: 72px;
    line-height: calc(86 / 72);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 39px;
}

.hero-text {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(36 / 24);

    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    min-width: 160px;
    min-height: 50px;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-transform: uppercase;

    background-color: var(--light-color);
    color: var(--accent-color);
    border: 1px solid var(--light-color);
    border-radius: 6px;

    margin-top: 39px;
    padding-top: 16px;
    padding-bottom: 16px;

    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--accent-color);
    color: var(--light-color);

    transition: all 0.5s;
}

/* Overview */

.overview {
    padding-top: 107px;
    padding-bottom: 82px;
}

.overview-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
}

.overview-content {
    margin-right: 105px;
    text-align: justify;
}

.overview-title {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);

    margin-bottom: 24px;
}

.overview-text {
    font-size: 14px;
    line-height: calc(20 / 14);

    margin-bottom: 22px;
}

.overview-link {
    color: var(--accent-color);
}

.overview-link:hover,
.overview-link:focus {
    text-decoration: underline;
}

.overview-play-btn {
    width: 66px;
    height: 66px;

    position: absolute;
    left: 53%;

    z-index: 1;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Features */

.features {
    background-color: var(--secondary-bcg);

    padding-top: 63px;
    padding-bottom: 229px;
}

.features-title {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    text-align: center;

    margin-bottom: 63px;
}

.features-list {
    display: flex;
}

.features-item {
    position: relative;

    max-width: 350px;
    max-height: 250px;

    text-align: center;
    color: var(--secondary-font-color);
}

.features-item-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    opacity: 0;

    padding-top: 42px;

    padding-left: 38px;
    padding-right: 38px;

    margin: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(138, 138, 138, 0.62);
    border-radius: 8px;
}

.features-item:hover .features-item-overlay-wrapper {
    opacity: 1;

    transform: translateY(0);
}

.features-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 42px;
}

.features-item-subtitle {
    font-size: 12px;
    line-height: calc(18 / 12);

    margin-bottom: 55px;
}

.features-link {
    color: var(--accent-color);
}

.features-item:not(:last-child) {
    margin-right: 60px;
}

/* Technology */

.technology {
    padding-top: 63px;
    padding-bottom: 92px;
}

.technology-title {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    text-align: center;

    margin-bottom: 59px;
}

.technology-list {
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.technology-item {
    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.technology-order-numb {
    font-size: 100px;
    font-weight: 700;
    line-height: normal;

    color: rgba(16, 16, 16, 0.08);

    margin-bottom: 25px;
}

.technology-icon {
    position: absolute;
    top: 35%;
}

.adding {
    top: 39%;
    left: 39%;
}

.technology-subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: var(--secondary-font-color);
}

.subtitle-description {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--font-color);
}

/* Saving money */

.saving-money {
    background-color: var(--accent-color);
    color: var(--light-color);

    padding-top: 91px;
    padding-bottom: 98px;
}

.saving-money-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saving-money-content {
    margin-right: 85px;
}

.saving-money-title {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);

    margin-bottom: 24px;
}

.saving-money-description {
    font-size: 14px;
    line-height: calc(20 / 14);

    text-align: justify;

    margin-bottom: 40px;
}

.saving-money-list {
    display: flex;
    align-items: center;
    gap: 23px;
}

.saving-money-img {
    border-radius: 15px;
}

.app-list {
    display: flex;
}

/* Contact */

.contact {
    padding-top: 121px;
    padding-bottom: 74px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);

    margin-bottom: 56px;
}

.contact-text {
    max-width: 434px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
}

.contact-form {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form-wrapper {
    display: flex;
    justify-content: space-between;
}

.contact-form-input {
    min-width: 255px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 31px;

    border: 1px solid var(--Gray-1, #333);
    border-radius: 6px;
}

.contact-form-btn {
    min-width: 160px;
    min-height: 50px;
    padding: 17px 34px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    
    color: var(--light-color);
    text-transform: uppercase;

    background-color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    border-radius: 6px;

    cursor: pointer;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    color: var(--accent-color);

    background-color: var(--light-color);
    border: 1.5px solid var(--accent-color);

    transition: all 0.5s;
}

/* Footer */

.footer {
    background-color: var(--secondary-bcg);

    padding-top: 86px;
    padding-bottom: 85px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}


.footer-subtitle {
    color: var(--secondary-font-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);

    margin-bottom: 33px;
}

.footer-address {
    font-size: 12px;
    line-height: calc(18 / 12);

    color: var(--secondary-font-color);

    width: 180px;

    display: flex;
    flex-direction: column;
}

.footer-socials-list {
    margin-top: 20px;

    display: flex;
    gap: 12px;
}

.footer-socials-link:hover .footer-socials-link-icon {
    fill: red;

    transition: all 0.5s;
}

.services-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(19 / 12);
    text-transform: capitalize;

    color: var(--font-color);
}

.services-list-item:hover,
.services-list-item:focus {
    color: var(--accent-color);
}

.touch-email {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);

    color: var(--secondary-font-color);
}

.touch-tel {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    
    color: #121212;
}

.copyright {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--secondary-font-color);

    margin-top: auto;
}
